/*
bg: #112530
lemon: #fed700
leaf1: #1f823f
leaf2: #176861
*/

*{
  margin:0;
  padding:0;
}

html,body{
  min-height: 100%;
}

html{
  width:100%;
  background: #112530;
  background-image: url(https://upload.wikimedia.org/wikipedia/commons/5/5b/Hypercam_2_watermark.png), url(/lemons.jpg);
  background-repeat: no-repeat, repeat;
  background-size: 169px 16px, auto;
  background-attachment: fixed;
  color: black;
  display: grid;
  justify-content: space-around;
}

body{
  font-family:sans-serif;
  line-height: 1.5;
}

header {
  display: flex;
  justify-content: space-around;
}

h1{
  font-size:24px;
  line-height:36px;
  margin:0 0 18px;
}

h3{
  font-size:12px;
  line-height:18px;
}



.logo{
  display: flex;
}

.logo img {
  height: 90px;
}

ul {
  padding-left: 1.5em;
  padding-bottom: 0.5em;
}

header, section, article {
  background:#1f823f;
  border: 10px double #fed700;
  border-radius: 20px;
  margin: 2em;
  padding: 2em;
}

header h3{
  font-size:36px;
  line-height:36px;
  margin-left:3px;
}

header h1{
  font-size:70px;
  line-height:54px;
  margin-bottom:0;
  letter-spacing:-5px;
}

a{
  color: #ffe550;
}
a:hover{
  text-decoration: dashed;
}
